@use "../utils/" as u;

.post-card {
  background: var(--primary-clr-white-100);
  position: relative;
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--card-border-clr);
  border-radius: 0.5em;
  box-shadow: var(--card-box-shadow);
  overflow: hidden;

  svg {
    display: inline-block;
  }

  &__link {
    color: var(--text-clr-dark);

    .post-content {
      .head {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        .content {
          order: 1;
          margin-top: 0.5em;
          margin-bottom: 1em;

          .exclusive {
            background: var(--primary-clr-dark-100);
            color: var(--primary-clr-yellow-100);
            padding: 0.15em 0.4em;
            margin-right: 0.5em;
            border-top-left-radius: 0.35em;
          }

          h4 {
            color: var(--text-clr-dark);
            font-size: u.$fs-200;
            font-weight: u.$fw-600;
          }
        }

        .img-container {
          width: 100%;
          height: 200px;
          overflow: hidden;
          order: 2;

          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 250ms ease;

            &:hover {
              transform: scale(1.1);
              transition: transform 250ms ease;
            }
          }
        }
      }

      .foot {
        margin-top: 0.5em;

        .comment {
          padding-block: 0.4em;
          width: 100%;
          background: var(--primary-clr-grey-100);
          color: var(--primary-clr-dark-100);
          outline: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;
          font-weight: u.$fw-600;

          span {
            color: var(--primary-clr-yellow-100);
            margin-right: 0.3em;
            font-size: u.$fs-300;
            font-weight: u.$fw-700;
          }
        }
      }
    }
  }
}

// @include u.breakpoint-up("520") {
//   .post-card {
//     &__link {
//       .post-content {
//         .head {
//           flex-flow: row;

//           .content {
//             width: 55%;
//             height: 200px;
//             overflow: hidden;

//             order: 2;
//             margin-bottom: 0;
//             margin-left: 1em;

//             .exclusive {
//               border-top-left-radius: 0;
//             }
//           }

//           .img-container {
//             width: 45%;
//             order: 1;
//             border-top-left-radius: 0.35em;
//           }
//         }
//       }
//     }
//   }
// }

@include u.breakpoint-up("670") {
  .post-card {
    width: 310px;

    &__link {
      .post-content {
        .head {
          flex-flow: column;

          .content {
            width: 100%;
            height: auto;
            order: 1;
            margin-bottom: 1em;
            margin-left: 0;

            .exclusive {
              border-top-left-radius: 0.5em;
            }
          }

          .img-container {
            width: 100%;
            order: 2;
            border-top-left-radius: 0;
          }
        }
      }
    }
  }
}
