@font-face {
  font-family: montserrat;
  src: url("/src/assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: opensans;
  src: url("/src/assets/fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  outline: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: opensans;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  font-size: 14px;
}

@media (max-width: 299px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 559px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 710px) {
  html {
    font-size: 14px;
  }
}
:root {
  --primary-clr-100: rgba(255, 255, 255, 1);
  --primary-clr-200: rgb(214, 214, 214);
  --primary-clr-300: rgb(255, 238, 50);
  --primary-clr-400: rgb(255, 209, 0);
  --primary-clr-900: rgba(0, 0, 0, 1);
  --secondary-clr-100: rgb(214, 214, 214);
  --neutral-clr-100: rgba(0, 0, 0, 0.6);
  --accent-clr-100: rgb(255, 150, 50);
  --accent-clr-900: rgb(255, 0, 0);
  --overlay-primary-100: rgba(0, 0, 0, 0.35);
}

header {
  background: var(--primary-clr-100);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 7%;
  z-index: 999;
  position: relative;
}
header .logo-container {
  max-width: 5%;
}
header .logo-container .logo {
  border-radius: 50%;
}
header .nav-toggle {
  background: transparent;
  width: 2em;
  height: 2em;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  right: 1em;
  outline: transparent;
  border: transparent;
  cursor: pointer;
  display: none;
}
header .nav-toggle span {
  display: block;
  background: var(--primary-clr-400);
  width: 1.9em;
  height: 0.3em;
  border-radius: 0.2em;
}
header .nav-toggle span:nth-child(2) {
  margin-block: 0.3em;
}
header .styled-toggle span {
  width: 2em;
}
header .styled-toggle span:first-child {
  transform-origin: 0%;
  transform: rotate(46deg);
}
header .styled-toggle span:nth-child(2) {
  transform: translate(40px, 0px);
  opacity: 0;
}
header .styled-toggle span:last-child {
  transform-origin: 15%;
  transform: rotate(-46deg);
}
header .nav-links {
  display: flex;
  list-style: none;
}
header .nav-links li {
  position: relative;
}
header .nav-links li:not(:last-child) {
  margin-right: 2em;
}
header .nav-links li a {
  color: var(--primary-clr-700);
  font-size: 1rem;
  font-weight: 600;
  transition: color 359ms ease-in, font-weight 350ms ease-in;
  position: relative;
}
header .nav-links li a:hover {
  color: var(--primary-clr-400);
}
header .nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  background: var(--primary-clr-400);
  position: absolute;
  top: -0.5em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform 300ms ease-in-out;
}
header .nav-links li a:hover::before {
  transform: scale(1, 1);
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75);
  transition: all 700ms ease;
}

@media (max-width: 750px) {
  .header {
    padding: 1em 2em;
  }
  .header .logo-container {
    max-width: 15%;
  }
  .header .nav-toggle {
    display: block;
    z-index: 999;
  }
  .header .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--primary-clr-100);
    width: 100%;
    height: 100vh;
    padding-top: 15em;
    flex-flow: column;
    align-items: flex-start;
    transition: right 700ms ease-out;
    z-index: 111;
    overflow-y: scroll;
  }
  .header .nav-links li {
    margin-bottom: 2em;
    margin-left: 2em;
  }
  .header .nav-links li a {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
  .header .nav-links li a::before {
    display: none;
  }
  .header .show-links {
    right: 0;
    transition: right 700ms ease-out;
  }
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 550px;
  overflow: hidden;
}
.carousel-container .carousel-slide {
  background-color: #f2f2f2;
  height: 95vh;
}
.carousel-container .slick-dots {
  position: absolute;
  bottom: 10px !important;
}

.carousel-slide h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.footer {
  background: var(--primary-clr-900);
  width: 100%;
  padding: 5em 7% 1em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}
.footer .top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
}
.footer .top-container .logo-container {
  width: 50%;
  color: var(--primary-clr-100);
  margin-bottom: 0.5em;
}
.footer .top-container .logo-container p {
  margin-top: 0.5em;
  text-indent: 5px;
  font-size: 0.8rem;
  font-weight: 500;
}
.footer .top-container .links-container {
  width: 50%;
  color: var(--primary-clr-100);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer .top-container .links-container ul {
  list-style: none;
}
.footer .top-container .links-container h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.footer .top-container .links-container .footer-nav ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.footer .top-container .links-container .footer-nav ul li {
  margin-bottom: 0.5em;
}
.footer .top-container .links-container .footer-nav ul li:hover {
  transition: all 250ms ease;
  transform: translateX(15%);
}
.footer .top-container .links-container .footer-nav ul li a {
  color: var(--primary-clr-100);
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .top-container .links-container .contacts ul {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .top-container .links-container .contacts ul li {
  margin-bottom: 0.5em;
}
.footer .top-container .links-container .contacts ul li:hover {
  transition: all 250ms ease;
  transform: translateX(15%);
}
.footer .top-container .links-container .contacts ul li a {
  color: var(--primary-clr-100);
  font-size: 0.9rem;
  font-weight: 400;
}
.footer .top-container .links-container .socials .social-links {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.footer .top-container .links-container .socials .social-links li {
  margin-block: 0.5em;
}
.footer .top-container .links-container .socials .social-links li:hover {
  transition: all 250ms ease;
  transform: translateY(15%);
}
.footer .top-container .links-container .socials .social-links li:not(:last-child) {
  margin-right: 1em;
}
.footer .top-container .links-container .socials .social-links li a {
  color: var(--primary-clr-400);
  font-size: 1.5rem;
  font-weight: 700;
}
.footer .ending-container {
  width: 100%;
  border-top: 1px solid var(--primary-clr-200);
  padding-top: 1em;
}
.footer .ending-container p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--primary-clr-100);
}
.footer .ending-container p span {
  color: var(--primary-clr-400);
}

@media (max-width: 750px) {
  .footer {
    padding-inline: 1em;
  }
  .footer .top-container {
    flex-flow: column;
  }
  .footer .top-container .logo-container {
    margin-bottom: 2em;
  }
  .footer .top-container .links-container {
    width: 100%;
    margin-bottom: 1em;
  }
}/*# sourceMappingURL=styles.css.map */