:root {
  --primary-clr-100: rgba(255, 255, 255, 1);
  --primary-clr-200: rgb(214, 214, 214);
  --primary-clr-300: rgb(255, 238, 50);
  --primary-clr-400: rgb(255, 209, 0);
  --primary-clr-900: rgba(0, 0, 0, 1);

  --secondary-clr-100: rgb(214, 214, 214);

  --neutral-clr-100: rgba(0, 0, 0, 0.6);

  --accent-clr-100: rgb(255, 150, 50);
  --accent-clr-900: rgb(255, 0, 0);

  --overlay-primary-100: rgba(0, 0, 0, 0.35);
}
