:root {
  --text-clr-light: rgb(255, 255, 255);
  --text-clr-dark: rgb(0, 0, 0);

  --primary-clr-white-100: rgba(255, 255, 255, 1);

  --primary-clr-yellow-100: rgb(255, 217, 0);

  --primary-clr-grey-100: rgb(214, 214, 214);

  --primary-clr-dark-100: rgb(0, 0, 0);
}
