:root {
  --text-clr-light: rgb(255, 255, 255);
  --text-clr-dark: rgb(0, 0, 0);

  --primary-clr-white-100: rgba(255, 255, 255, 1);

  --primary-clr-yellow-100: rgb(255, 217, 0);

  --primary-clr-grey-100: rgb(214, 214, 214);

  --primary-clr-dark-100: rgb(0, 0, 0);
  --primary-clr-dark-900: rgba(0, 0, 0, 0.15);

  --card-border-clr: rgb(234, 234, 234);

  --card-box-shadow: 0 2px 4px var(--primary-clr-dark-900);
  --header-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  --card-gradient: linear-gradient(
    0deg,
    rgba(255, 217, 0, 0.25539565826330536) 6%,
    rgba(0, 0, 0, 0.2581967787114846) 48%
  );
}
