@use "../utils/" as u;

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;

  .aside-nav {
    display: none;
    overflow: hidden;

    @include u.breakpoint(mobile-nav) {
      height: 100vh;
    }
  }

  .main-content {
    position: relative !important;
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
