@use "../utils" as u;

header {
  background: var(--primary-clr-100);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 7%;
  z-index: 999;
  position: relative;

  .logo-container {
    max-width: 5%;

    .logo {
      border-radius: 50%;
    }
  }

  .nav-toggle {
    background: transparent;
    width: 2em;
    height: 2em;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 1em;
    outline: transparent;
    border: transparent;
    cursor: pointer;
    display: none;

    span {
      display: block;
      background: var(--primary-clr-400);
      width: 1.9em;
      height: 0.3em;
      border-radius: 0.2em;

      &:nth-child(2) {
        margin-block: 0.3em;
      }
    }
  }

  .styled-toggle {
    span {
      width: 2em;

      &:first-child {
        transform-origin: 0%;
        transform: rotate(46deg);
      }

      &:nth-child(2) {
        transform: translate(40px, 0px);
        opacity: 0;
      }

      &:last-child {
        transform-origin: 15%;
        transform: rotate(-46deg);
      }
    }
  }

  .nav-links {
    display: flex;
    list-style: none;

    li {
      position: relative;

      &:not(:last-child) {
        margin-right: 2em;
      }

      a {
        color: var(--primary-clr-700);
        font-size: u.$fs-100;
        font-weight: u.$fw-600;
        transition: color 359ms ease-in, font-weight 350ms ease-in;
        position: relative;

        &:hover {
          color: var(--primary-clr-400);
        }

        &::before {
          content: "";
          display: block;
          height: 3px;
          background: var(--primary-clr-400);
          position: absolute;
          top: -0.5em;
          left: 0;
          right: 0;
          transform: scale(0, 1);
          transition: transform 300ms ease-in-out;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75);
  transition: all 700ms ease;
}

@include u.breakpoint(mobile-nav) {
  .header {
    padding: 1em 2em;

    .logo-container {
      max-width: 15%;
    }

    .nav-toggle {
      display: block;
      z-index: 999;
    }

    .nav-links {
      position: fixed;
      top: 0;
      right: -100%;
      background: var(--primary-clr-100);
      width: 100%;
      height: 100vh;
      padding-top: 15em;

      flex-flow: column;
      align-items: flex-start;
      transition: right 700ms ease-out;
      z-index: 111;
      overflow-y: scroll;

      li {
        margin-bottom: 2em;
        margin-left: 2em;

        a {
          opacity: 1;
          transition: opacity 250ms ease-in;

          &::before {
            display: none;
          }
        }
      }
    }

    .show-links {
      right: 0;
      transition: right 700ms ease-out;
    }
  }
}
