@use "../utils" as u;

header {
  position: relative;
  background: var(--primary-clr-white-100);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 7%;
  z-index: 9999;
  transition: all 700ms ease;

  .logo-container {
    .logo {
      color: var(--text-clr-dark);
      font-size: u.$fs-200;
      font-weight: u.$fw-500;
    }
  }

  .nav-toggle {
    display: none;
    color: var(--primary-clr-yellow-100);
    font-size: u.$fs-300;
    font-weight: u.$fw-500;
  }

  .search-container {
    .search {
      color: var(--primary-clr-yellow-100);
      font-size: u.$fs-300;
      font-weight: u.$fw-500;
    }
  }

  .nav-links {
    display: flex;
    list-style: none;

    li {
      position: relative;

      &:not(:last-child) {
        margin-right: 2em;
      }

      a {
        color: var(--primary-clr-dark-100);
        font-size: u.$fs-100;
        font-weight: u.$fw-600;
        text-transform: capitalize;
        transition: color 359ms ease-in, font-weight 350ms ease-in;
        position: relative;

        &:hover {
          color: var(--primary-clr-yellow-100);
        }

        &::before {
          content: "";
          display: block;
          height: 3px;
          background: var(--primary-clr-yellow-100);
          position: absolute;
          top: -0.5em;
          left: 0;
          right: 0;
          transform: scale(0, 1);
          transition: transform 300ms ease-in-out;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.75);
  transition: all 700ms ease;
}

.relative-nav {
  position: relative !important;
  transition: all 700ms ease;
}

@include u.breakpoint(mobile-nav) {
  .header {
    padding: 1em;

    .nav-toggle {
      display: block;
      z-index: 999;
    }

    nav {
      display: none;

      .nav-links {
        overflow: hidden;
        display: none;

        li {
          display: none;

          a {
            display: none;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}
