@use "../utils/" as u;

.homeNews-section {
  background: var(--primary-clr-white-100);
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding-block: 5em;
  gap: 1em;

  .home-main-news {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-flow: row;
    gap: 1em;
  }

  .home-aside-news {
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
}

@include u.breakpoint("850") {
  .homeNews-section {
    grid-template-columns: 5em;

    .home-main-news {
      grid-column: 1 / 3;
      display: grid;
    }

    .home-aside-news {
      grid-column: 1 / 3;
    }
  }
}
