@use "../utils/" as u;

.post-card {
  background: var(--primary-clr-yellow-100);
  position: relative;
  width: 20em;
  height: 24em;
  margin: 0.5em;
  overflow: hidden;

  svg {
    display: inline-block;
  }

  &__link {
    color: var(--text-clr-dark);

    .post-content {
      padding: 1em 0.5em;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 0.5em;

        .content {
          h5 {
            color: var(--text-clr-dark);
            font-size: u.$fs-300;
            font-weight: u.$fw-600;
          }
        }

        .date {
          display: flex;
          align-items: center;

          p {
            font-size: u.$fs-100;
            font-weight: u.$fw-500;

            &:nth-child(2) {
              font-size: 0.8rem;
              margin-left: 0.3em;
            }
          }
        }

        .views {
          display: flex;
          align-items: center;

          p {
            font-size: u.$fs-100;
            font-weight: u.$fw-500;

            &:nth-child(2) {
              font-size: 0.8rem;
              margin-left: 0.3em;
            }
          }
        }
      }

      .body {
        .img-container {
          width: 100%;
          height: 50%;
          overflow: hidden;

          .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 250ms ease;

            &:hover {
              transform: scale(1.1);
              transition: transform 250ms ease;
            }
          }
        }

        .comment-container {
          .comment {
            width: 100%;
            background: var(--primary-clr-grey-100);
            outline: transparent;
            font-size: 0.9rem;
            font-weight: u.$fw-500;

            span {
              font-size: u.$fs-200;
              font-weight: u.$fw-500;
            }
          }
        }
      }
    }
  }
}
